<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/board.css' />
  </head>
  <body>
    <div class="wrapper">
      <div class="above">        
        <span class="title">Bumlog</span>
          <ul class="above-ul">
                <li><a href="/">Home</a></li>
                <li><a href="index.html">About</a></li>
                <li><a href="">Posts</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Blabla</a></li>
          </ul>
      </div>
    </div>
    <div class="catagory">
        <nav class="catagory-nav">
          <ul>
            <li><a href="">About Me</a></li>
            <li><a href="">창업</a></li>
            <li><a href="">끄적끄적</a></li>
            <li><a href="">여행</a></li>
          </ul>
        </nav>
    </div>
    <div class="con">  
      <div class="con-elements">
        <div class="con-elements-title">
          <h1><%=board.title%></h1>
        </div>
        <div class="con-elements-subtitle">
          <h4><%=board.subtitle%></h4>
        </div>
        <div class="con-elements-contents">
          <p><%=board.contents%></p>
        </div>
      </div>
      
      <hr>
      <% if (board.comments !== null) {
          var comment = board.comments;
            for(var i = 0; i < board.comments.length; i++) {%>
      <h4>작성자 : <%=comment[i].author%></h4>
      <h4>내용 : <%=comment[i].contents%></h4>
      <hr>
      <%}}%>
      <form action="/comment/write" method="post">
        <input type="text" name="id" value="<%=board._id%>" hidden>
        댓글 : <textarea name="contents"></textarea><br>
        글쓴이 : <input type="text" name="author"><br>
        <input type="submit" value="확인">
      </form>
    </div>
  </body>
</html>