<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/index.css' />
    <link href="https://cdn.jsdelivr.net/npm/spin.js@latest/spin.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/spin.js@latest/spin.min.js"></script>
    <script>
      function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    </script>
  </head>
  <body>
    <div id="foo" class="demo"></div>
    <div class="nav">
      
      <div class="navbar">
        <div class="navbar_1"></div>
        <div class="navbar_2"></div>
        <div class="navbar_3"></div>
      </div>
      
      <div class="nav_a">
        <a href="">Bumlog</a>
      </div>
      <div id=myLinks class="above">        
          <ul class="above-ul">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="">Posts</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Blabla</a></li>
          </ul>
      </div>
    </div>    
    <div class="wrapper"></div>
      <!--
    <div class="wrapper">
      
      -->
    </div>
    <!--
    <div class="catagory">
        <nav class="catagory-nav">
          <ul>
            <li><a href="">About Me</a></li>
            <li><a href="catagory2">창업</a></li>
            <li><a href="catagory3">끄적끄적</a></li>
            <li><a href="">여행</a></li>
          </ul>
        </nav>
    </div>
    -->

    <% if (board !== null){
        for(var i = 0; i < board.length; i++) { %>
            <div class="content">
              <a class= "content-a" href="/board/<%= board[i]._id%>">
                <h1><%=board[i].title%></h1>
                <h5 id="subtitle"><%=board[i].subtitle%></h5>
                <h6 id="board_date"><%= board[i].board_date%></h6>
              </a>
              
            </div>
    <%  }} %>
  </body>
</html>