<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/index.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="#" class="logo">Bumlog</a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="#" class="nav-links">Home</a>
            </li>
            <li>
                <a href="#" class="nav-links">Products</a>
            </li>
            <li>
                <a href="#" class="nav-links">About Us</a>
            </li>
            <li>
                <a href="#" class="nav-links">Contact Us</a>
            </li>
            <li>
                <a href="#" class="nav-links">Blog</a>
            </li>
        </ul>
      </nav>
    </header>
    <div class="wrapper"></div>
      <!--
    <div class="wrapper">
      
      -->
    </div>
    <!--
    <div class="catagory">
        <nav class="catagory-nav">
          <ul>
            <li><a href="">About Me</a></li>
            <li><a href="catagory2">창업</a></li>
            <li><a href="catagory3">끄적끄적</a></li>
            <li><a href="">여행</a></li>
          </ul>
        </nav>
    </div>
    -->

    <% if (board !== null){
        for(var i = 0; i < board.length; i++) { %>
            <div class="content">
              <a class= "content-a" href="/board/<%= board[i]._id%>">
                <h1><%=board[i].title%></h1>
                <h5 id="subtitle"><%=board[i].subtitle%></h5>
                <h6 id="board_date"><%= board[i].board_date%></h6>
              </a>
              
            </div>
    <%  }} %>

    <section id="home">
      <h1>Fixed Nav</h1>
      <p>The code and examples are hosted on GitHub and can be <a href="https://github.com/adtile/fixed-nav">found from here</a>. Read more about the approach from&nbsp;<a href="http://blog.adtile.me/2014/03/03/responsive-fixed-one-page-navigation/">our&nbsp;blog</a>.</p>
    </section>
    <section id="about">
      <h1>About</h1>
    </section>
    <section id="projects">
      <h1>Projects</h1>
    </section>
    <section id="blog">
      <h1>Blog</h1>
    </section>
    
  <script src="/jsfiles/hamburger.js"></script>
  </body>
</html>