<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  </head>
  <body>
    <header>
      <%- include ('partials/header.ejs') %>
    </header>
    <%
    for(var i = 0; i<rows.length; i++)
    {
    %>
    <div class="content">
      <a class="content-a" href="/board/<%= rows[i].id%>">
        <h1><%=rows[i].title%></h1>
        <h5><%=rows[i].subtitle%></h5>
        <h6><%=rows[i].createdat%></h6>
      </a>
    </div>
    <%
    }
    %>
  </body>
</html>