<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/index.css' />
    <link href="https://cdn.jsdelivr.net/npm/spin.js@latest/spin.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/spin.js@latest/spin.min.js"></script>
  </head>
  <body>
    <div id="foo" class="demo"></div>   
    <div class="wrapper">
      <div class="above">        
        <span><a class="title" href="/">Bumlog</a></span>
          <ul class="above-ul">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="">Posts</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Blabla</a></li>
          </ul>
      </div>
    </div>
    <div class="catagory">
        <nav class="catagory-nav">
          <ul>
            <li><a href="">About Me</a></li>
            <li><a href="catagory2">창업</a></li>
            <li><a href="catagory3">끄적끄적</a></li>
            <li><a href="">여행</a></li>
          </ul>
        </nav>
    </div>
    
    <% if (board !== null){
        for(var i = 0; i < board.length; i++) { %>
            <div class="content">
              <a class= "content-a" href="/board/<%= board[i]._id%>">
                <h2><%=board[i].title%></h2>
                <h5 id="subtitle"><%=board[i].subtitle%></h5>
                <h6 id="board_date"><%= board[i].board_date%></h6>
              </a>
              
            </div>
    <%  }} %>
    <a href="write">글쓰기</a><br>
  </body>
</html>